version: "3.9"
services:
  tests-ci:
    image: playwright-test-runner:ci
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      TEST_COMMAND: ${TEST_COMMAND}
      JOB_NAME: ${JOB_NAME}
    command: sh -c "$TEST_COMMAND"
    volumes:
      - ./playwright-report/${JOB_NAME}:/app/playwright-report
      - ./test-output/${JOB_NAME}:/app/test-output

  tests-local:
    image: playwright-test-runner:local
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "$TEST_COMMAND"
    volumes:
      - .:/app
      - ./screenshots:/app/screenshots
      - ./playwright-report:/app/playwright-report
      - ./test-output:/app/test-output
